@import "../local/vars";

html {
  font-size: 14px;
}

body {
  font-family: $roboto !important;
  background: #e7ebf0 !important;
}

.section-padding-x {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
