.category {
  margin-top: 30px;
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.no-list {
  font-size: 5rem;
  margin-top: 50px;
  text-align: center;
}

.material-icons {
  color: white !important;
}
