<mat-toolbar class="px-0 py-3">
  <div
    class="blog-header w-100 d-flex justify-content-between align-items-center section-padding-x"
  >
    <div class="logo-block d-flex align-items-center">
      <div class="logo-block__blog mr-3" routerLink="/home"></div>
    </div>

    <div
      class="d-flex justify-content-between align-items-center"
      style="width: 10%;"
    >
      <button
        class="blog-header__menu"
        mat-button
        [matMenuTriggerFor]="belowMenu"
      >
        Menu
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item [routerLink]="['/category/list']">
          Categories
        </button>
        <button
          mat-menu-item
          [routerLink]="['/posts/create']"
          *ngIf="userInfo.role === 'admin'"
        >
          Create post
        </button>
        <button
          [routerLink]="['/category/create']"
          mat-menu-item
          *ngIf="userInfo.role === 'admin'"
        >
          Create category
        </button>
      </mat-menu>
      <div class="blog-header__logout-btn" matTooltip="Logout">
        <i class="material-icons" (click)="onLogout()">
          input
        </i>
      </div>
    </div>
  </div>
</mat-toolbar>
