.mat-toolbar {
  height: 90px;
  background-color: #000;
}

.blog-header {
  .logo-block {
    width: 65px;
    cursor: pointer;
    &:focus {
      outline: 0;
    }

    &__blog {
      display: block;
      width: 124px;
      height: 50px;
      background: url("/assets/images/pile-of-dung.png") no-repeat;
      background-size: contain;

      &:focus {
        outline: 0;
      }
    }
  }
  .material-icons {
    color: white !important;
  }

  &__menu {
    color: white !important;
  }

  &__logout-btn {
    display: flex !important;
    color: #fff;
    cursor: pointer;
  }
}

.mat-button {
  color: white !important;
}
