@import "../../../../styles/local/main";

.auth {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .hidden-icon {
    cursor: pointer;
  }

  @include material-color($background, accent, 300);

  &__register-link {
    &:hover {
      cursor: pointer;
    }
  }

  .info {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 2.2rem;

    .success {
      color: $main-color;
    }

    .error {
      color: $error-color;
    }
  }
}
