<mat-card class="section-padding-x">
  <mat-card-header class="mb-4">
    <mat-card-title> Create category</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 mb-3">
        <input
          matInput
          placeholder="Category*"
          formControlName="catName"
          autocomplete="off"
          [errorStateMatcher]="formErrorStateMatcher"
        />
        <mat-error *ngIf="form.get('catName').hasError('required')">
          required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <input
          matInput
          placeholder="Description*"
          formControlName="catDesc"
          autocomplete="off"
          [errorStateMatcher]="formErrorStateMatcher"
        />
        <mat-error *ngIf="form.get('catDesc').hasError('required')">
          required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <input
          matInput
          placeholder="Image Url"
          formControlName="catImgUrl"
          autocomplete="off"
          [errorStateMatcher]="formErrorStateMatcher"
        />
      </mat-form-field>

      <div class="d-flex justify-content-end mt-5">
        <button class="btn-actions mr-3" type="submit" mat-raised-button>
          Save
        </button>

        <button
          (click)="onCancel()"
          class="btn-actions"
          type="button"
          mat-raised-button
        >
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
