<div class="section-padding-x category">
  <mat-card-header class="mb-4">
    <mat-card-title> Category list</mat-card-title>
  </mat-card-header>

    <div class="no-list"
         *ngIf="!categories?.length">
      No categories :(
    </div>

  <mat-card-content class="list" *ngIf="categories?.length">
    <div class="list-item" *ngFor="let item of categories">
      <div
        *ngIf="item.catImgUrl"
        class="list-item__image"
        [style.background]="'url(' + item.catImgUrl + ')'"
        [routerLink]="['/posts/list', item._id]"
      ></div>
      <div
        class="list-item__image no-image"
        *ngIf="!item.catImgUrl"
        [routerLink]="['/posts/list', item._id]"
      ></div>
      <div class="list-item__info">
        <div class="list-item__info-name">{{ item.catName }}</div>
        <div class="list-item__info-description">{{ item.catDesc }}</div>
        <div class="list-item__info-date">{{ item.updated | date }}</div>
        <div class="list-item__info-buttons" *ngIf="userInfo.role === 'admin'">
          <button
            matTooltip="Edit"
            class="list-item__info-buttons-edit"
            type="button"
            mat-raised-button
            [routerLink]="['/category/edit', item._id]"
          >
            <mat-icon class="material-icons">edit</mat-icon>
          </button>
          <button
            matTooltip="Delete"
            class="list-item__info-buttons-delete"
            type="button"
            mat-raised-button
            (click)="deleteCategory(item._id)"
          >
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</div>
