<div class="auth">
  <mat-card class="w-50 mx-auto">
    <mat-card-content class="d-flex justify-content-center  mb-4">
      <form class="w-75 d-flex flex-wrap" [formGroup]="form" autocomplete="off">
        <div *ngIf="!isAuthorized" class="auth-error">Try again</div>
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Логин*"
            formControlName="username"
            [errorStateMatcher]="formErrorStateMatcher"
          />
          <mat-error *ngIf="form.get('username').hasError('required')">
            required field
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [type]="isHidden ? 'password' : 'text'"
            placeholder="Пароль*"
            formControlName="password"
            type="password"
            [errorStateMatcher]="formErrorStateMatcher"
          />

          <mat-icon
            class="hidden-icon"
            matSuffix
            (click)="isHidden = !isHidden"
          >
            {{ isHidden ? "visibility_off" : "visibility" }}
          </mat-icon>

          <mat-error *ngIf="form.get('password').hasError('required')">
            required field
          </mat-error>
        </mat-form-field>
        <div>
          <a class="auth__register-link" (click)="toRegistration()">
            Registration
          </a>
        </div>

        <div class="w-100 d-flex justify-content-end">
          <button mat-raised-button (click)="onSubmit()">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
